<!DOCTYPE html>
<html lang="{{ site_short_locale }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="{{ meta_details:site_name }} {{ meta_details:site_description }}">
        <title>{{ title }} | {{ meta_details:site_name }}</title>
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}" />
        <script src="{{ mix src='/js/site.js' }}" defer></script>
    </head>
    <body
        class="bg-gray-200 font-sans leading-normal text-gray-800 flex flex-col h-screen"
    >
        {{ partial:navbar }}
        
        {{ template_content }}

        {{ partial:general_contact_form }}

        {{ partial:footer }}

        <script src="https://cdn.usefathom.com/script.js" site="DIHDMIIN" defer></script>
    </body>
</html>
