<!DOCTYPE html>
<html lang="{{ site_short_locale }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ title }} | {{ meta_details:site_name }}</title>
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}" />
        <script src="{{ mix src='/js/site.js' }}"></script>
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    </head>
    <body
        class="bg-gray-200 font-sans leading-normal text-gray-800 flex flex-col h-screen "
    >
        {{ partial:navbar }}

        <div
            class="spanx-4 md:px-0 mx-auto container flex-1 pb-12"
            id="content"
        >
            {{ template_content }}
        </div>

        {{ partial:footer }}
    </body>
</html>
