<div class="relative bg-primary-500 mb-10 z-100">
    <div
        class="flex justify-between items-center px-4 py-6 sm:px-6 md:justify-start md:space-x-10"
    >
        <div>
            <a href="/" class="flex items-center text-secondary-900 hover:text-secondary-900">
                {{ partial:logo }}
            </a>

        </div>
        <div class="-mr-2 -my-2 md:hidden z-50">
            <mobile-menu />
        </div>
        <div
            class="hidden md:flex-1 md:flex md:items-center md:justify-between md:space-x-12"
        >
            <nav class="flex space-x-10">
                <a
                    href="/features"
                    class="text-base leading-6 font-medium text-secondary-900 hover:text-secondary-500 transition ease-in-out duration-150"
                >
                    Features
                </a>

                <a
                    href="/about-us"
                    class="text-base leading-6 font-medium text-secondary-900 hover:text-secondary-500 transition ease-in-out duration-150"
                >
                    About Us
                </a>

                <a
                    href="/contact-us"
                    class="text-base leading-6 font-medium text-secondary-900 hover:text-secondary-500 transition ease-in-out duration-150"
                >
                    Contact
                </a>

            </nav>
           
        </div>
    </div>
</div>
