<div
    class="mx-auto container py-16 px-4 sm:px-6 lg:col-span-2 lg:px-8 lg:py-24 flex-1 pb-12"
>

  <div class="prose prose-lg">
    {{ content }}  
  </div>
  

  <div class="pb-12">
    <div class="grid grid-cols-1 md:grid-cols-3 md:gap-4 mt-8">
    {{ collection from="features" }}
      <div class="p-4 bg-gray-50 rounded-lg text-center mb-4 md:mb-0">
     
        {{ if image }}
          <div class="flex justify-around my-4">
            <img src="{{ image }}" alt="{{title}}" class="w-32">
          </div>
        {{ /if }}
        <h3 class="text-xl font-bold text-gray-800 leading-tight mb-2">{{ title }}</h3>
        {{ description }}
      </div>
    {{ /collection }}
  </div>

  <h2 class="mt-12 text-3xl leading-9 font-extrabold text-gray-900 sm:text-4xl sm:leading-10 lg:text-3xl lg:leading-none ">
    We don't do all the bells and whistles. Only the features 95% of businesses actually use.
  </h2>

  
  </div>
</div>